---
import BaseLayout from "../../layouts/BaseLayout.astro"
---

<BaseLayout title="Tiendas">
  <h1>Lista de Tiendas</h1>
  <p>Ingresaste al contenido de tiendas</p>
  <a href="/">Volver</a>
  <a href="/equipos">Lista de Equipos</a>
</BaseLayout>