---
import BaseLayout from "../layouts/BaseLayout.astro"
import FooterLayout from "../layouts/FooterLayout.astro"
---

<BaseLayout title="Login">
  <h1>Welcome to Login</h1>
  <p>username: <input type="text" name="username" /> </p>
  <p>password: <input type="password" name="password" /></p>
  <button>Login</button>
  <br>
  <br>
</BaseLayout>
<a href="/tiendas">Lista de Tiendas</a>
<FooterLayout></FooterLayout>