---
import BaseLayout from "../../layouts/BaseLayout.astro"
---

<BaseLayout title="Mantenimientos">
  <h1>Lista de Mantenimientos</h1>
  <p>Ingresaste al contenido de Mantenimientos</p>
  <a href="/">Volver</a>
  <a href="/tiendas">Lista de Tiendas</a>
  <a href="/equipos">Lista de Equipos</a>
</BaseLayout>