---
import BaseLayout from "../../layouts/BaseLayout.astro"
---

<BaseLayout title="Equipos">
  <h1>Lista de Equipos</h1>
  <p>Ingresaste al contenido de Equipos</p>
  <a href="/">Volver</a>
  <a href="/tiendas">Tiendas</a>
  <a href="/mantenimientos">Lista de Mantenimientos</a>
</BaseLayout>